doctype
include variable
include mixins


html(lang="ru")
	head
		title Marafon

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")

		link(rel="styleSheet", media="all", type="text/css", href="css/styles.min.css?v=1.0")

	body
		block vars
		block content

