doctype
include variable
include mixins
include code-injects
include examples


html(lang="ru")
	head
		title Captain morgan

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")

		link(rel="styleSheet", media="all", type="text/css", href="css/styles.min.css")

	body
		main.app
			block content
			footer.app__footer
				img(src='images/logo-morgan.png' alt='captain morgan')

