-
  var
          formConfig1 = [
            {
              id: 'text',
              type: 'text',
              label: 'text field',
              placeholder: 'Email'
            },
            {
              type: 'dropdown',
              id: '1',
              label: 'dropdown',
              placeholder: 'Сколько гостей',

              list: [
                {
                  name: 'parent',
                  title: 'взрослых',
                  value: 0
                },
                {
                  name: 'children',
                  title: 'детей',
                  value: 0
                },
                {
                  name: 'baby',
                  title: 'младенцев',
                  value: 0
                },
              ]
            },
            {
              type: 'dropdown',
              id: '2',
              label: 'dropdown',
              placeholder: 'Сколько гостей',
              reminder: 'гость, гостя, гостей',
              footer: true,
              list: [
                {
                  name: 'parent',
                  title: 'взрослые',
                  value: 2
                },
                {
                  name: 'children',
                  title: 'дети',
                  value: 0
                },
                {
                  name: 'baby',
                  title: 'младенцы',
                  value: 0
                },
              ]
            },
            {
              type: 'dropdown',
              id: '3',
              label: 'dropdown',
              placeholder: 'Удобства',
              footer: true,
              list: [
                {
                  name: 'bedroom',
                  title: 'спальни',
                  value: 2
                },
                {
                  name: 'bad',
                  title: 'кровати',
                  value: 0
                },
                {
                  name: 'bathroom',
                  title: 'ванные комнаты',
                  value: 0
                },
              ]
            },
            {
              type: 'checkBoxList',
              id: '3',
              label: 'checkBoxList',
              list: [
                {
                  id: 'check-31',
                  label: 'Завтрак',
                  value: false,
                },
                {
                  id: 'check-32',
                  label: 'Письменный стол',
                  value: true,
                },
                {
                  id: 'check-33',
                  label: 'Стул для кормления',
                  value: true,
                },
                {
                  id: 'check-34',
                  label: 'Кроватка',
                  value: true,
                },
                {
                  id: 'check-35',
                  label: 'Телевизор',
                  value: true,
                },
                {
                  id: 'check-36',
                  label: 'Шампунь',
                  value: true,
                }
              ]
            },
          ],
          checkboxes = [
            {
              id: 'check-1',
              label: 'Можно курить',
              value: false,
              type: 'checkbox'
            },
            {
              id: 'check-2',
              label: 'Можно с питомцами',
              value: true,
              type: 'checkbox'
            },
            {
              id: 'check-3',
              label: 'Можно пригласить гостей (до 10 человек)',
              value: true,
              type: 'checkbox'
            }
          ],
          radioButtons = [
            {
              id: 'male',
              label: 'Мужчина',
              value: 'male',
              name: 'sex',
              type: 'radio',
              checked: true,
            },
            {
              id: 'female',
              label: 'Женщина',
              value: 'female',
              name: 'sex',
              type: 'radio',
              checked: false,
            }
          ],
          toggleButtons = [
            {
              id: 'toggle-1',
              label: 'Получать спецпредложения',
              value: true,
              type: 'toggle'
            },
            {
              id: 'toggle-2',
              label: 'Получать спецпредложения',
              value: false,
              type: 'toggle'
            },
          ],
          likeButtons = [
            {
              name: 'like-1',
              value: 6,
              type: 'like'
            },
            {
              name: 'like-2',
              value: 12,
              type: 'like',
              clicked: true,
            }
          ],
          rateButtons = [
            {
              name: 'rate-1',
              value: 35,
              type: 'rate'
            },
            {
              name: 'rate-2',
              value: 50,
              type: 'rate',
              clicked: false,
            },
            {
              name: 'rate-3',
              value: 15,
              type: 'rate',
              clicked: false,
            },
            {
              name: 'rate-4',
              value: 20,
              type: 'rate',
              clicked: false,
            }
          ],
          formElementsWithLabel = [
            'select',
            'textarea',
            'dropdown',
            'dateDropdown',
            'filterDateDropdown',
            'text',
            'password',
            'range',
          ],
          rangeSliders = [
            {
              label: 'range slider',
              id: 1,
              min: 0,
              max: 15000,
              type: 'range',
              value: [5000, 10000],
              name: ['cost-min', 'cost-max']
            }
          ];
