-
	var
			h1= 'Авторский дизайн интерьера и ремонт «под ключ»',
			head_description= 'Мы - команда полного цикла. Проектируем и реализуем уникальные дизайнерские решения в Екатеринбурге.',
			button_title='связаться'
