-
  var
          modify = {
            hover: 'hover',
            striped: 'striped',
            secondary: 'secondary',
            success: 'success',
            primary: 'primary',
            default: 'default',
            danger: 'danger',
            warning: 'warning',
            info: 'info',
            light: 'light',
            dark: 'dark',
          },
          menuItems = [
            {
              title: 'Таблицы',
              url: 'tables',
              submenu: false
            }, {
              title: 'Аккордеон',
              url: 'accordeon',
              submenu: false
            },
          ],
          navParams = {
            sticky: true,
            dark: true,
            logo: 'Bootstrap 5',
            menu: menuItems,
          },
          accordeons = [
            {
                id: 'accordionExample1',
                noParent: true,
                list: [
                  {
                      active: true,
                      headerId: 'headingOne',
                      id: 'collapseOne',
                      title: 'Accordion Item #1',
                      body: '<strong>This is the first item\'s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It\'s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.'
                  },
                  {
                      active: false,
                      headerId: 'headingTwo',
                      id: 'collapseTwo',
                      title: 'Accordion Item #2',
                      body: '<strong>This is the first item\'s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It\'s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.'
                  },
                ]
            },
            {
              id: 'accordionExample2',
              flush: true,
              list: [
                {
                  active: false,
                  headerId: 'headingOne1',
                  id: 'collapseOne1',
                  title: 'Accordion Item #1',
                  body: '<strong>This is the first item\'s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It\'s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.'
                },
                {
                  active: false,
                  headerId: 'headingTwo2',
                  id: 'collapseTwo2',
                  title: 'Accordion Item #2',
                  body: '<strong>This is the first item\'s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It\'s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.'
                },
                {
                  active: false,
                  headerId: 'headingThree2',
                  id: 'collapseThree2',
                  title: 'Accordion Item #2',
                  body: '<strong>This is the first item\'s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It\'s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.'
                },
              ]
            }
          ],
          tableConfig = [
            { name: 'number', title: '#' },
            { name: 'one', title: 'First' },
            { name: 'two', title: 'Last' },
            { name: 'three', title: 'Handle' },
          ],
          tables = [
              [
                { number: 1, one: 'Mark', two: 'Otto', three: '@mdo' },
                { number: 2, one: 'Jacob', two: 'Thornton', three: '@fat' },
                { number: 3, one: { title: 'Larry the Bird', colspan: 2, classes: ['table-active'] }, three: '@twitter' },
              ],
              [
                {number: 1, one: 'Mark', two: 'Otto', three: '@mdo', classes: ['table-active']},
                {number: 2, one: 'Jacob', two: 'Thornton', three: '@fat'},
                {number: 3, one: 'Larry', two: 'Garry', three: '@twitter'},
              ],
              [
                {number: 1, one: 'Mark', two: 'Otto', three: '@mdo'},
                {number: 2, one: 'Jacob', two: 'Thornton', three: '@fat'},
                {number: 3, one: 'Larry', two: 'Garry', three: '@twitter'},
              ],
              [
                {number: 1, one: 'Mark', two: 'Otto', three: '@mdo'},
                {number: 2, one: 'Jacob', two: 'Thornton', three: '@fat'},
                {number: 3, one: 'Larry', two: 'Garry', three: '@twitter'},
              ],
              [
                {number: 1, one: 'Mark', two: 'Otto', three: '@mdo'},
                {number: 2, one: 'Jacob', two: 'Thornton', three: '@fat'},
                {number: 3, one: 'Larry', two: 'Garry', three: '@twitter'},
              ]
          ],
          tablesParams = [
            [ modify.hover, modify.striped ],
            [ modify.hover, modify.dark ],
            [ modify.hover, modify.success ],
            [ modify.hover, modify.primary ],
            [ modify.hover, modify.info ],
          ]