-
  var
          formConfig1 = [
            {
              id: 'text',
              type: 'text',
              label: 'text field',
              placeholder: 'Email'
            }
          ],
          formConfig2 = [
            {
              id: 'check-1',
              label: 'Можно курить',
              value: false,
              type: 'checkbox'
            },
            {
              id: 'check-2',
              label: 'Можно с питомцами',
              value: true,
              type: 'checkbox'
            },
            {
              id: 'check-3',
              label: 'Можно пригласить гостей (до 10 человек)',
              value: true,
              type: 'checkbox'
            }
          ],
          formConfig3 = [];
