-
  var
          modify = {
            hover: 'hover',
            striped: 'striped',
            secondary: 'secondary',
            success: 'success',
            primary: 'primary',
            default: 'default',
            danger: 'danger',
            warning: 'warning',
            info: 'info',
            light: 'light',
            dark: 'dark',
            link: 'link'
          },
          menuItems = [
            {
              title: 'Контент',
              submenu: [
                { title: 'Таблицы', url: 'tables' },
              ]
            },
            { title: 'Компоненты', submenu: [
                { title: 'Аккордеон', url: 'accordeon' },
                { title: 'Алерты', url: 'alerts' },
                { title: 'Кнопки', url: 'buttons' },
              ] },
          ],
          navParams = {
            sticky: true,
            thema: modify.warning,
            logo: 'Bootstrap 5',
            menu: menuItems,
          }