-
	var
			menu = [
				{title: 'История', url: '#'},
				{title: 'Производство', url: '#'},
				{title: 'Ассортимент', url: '#'},
				{title: 'Где купить', url: '#'},
			],
			catalog = [
				{
					title: 'Классика',
					alc:   '1,2',
					cal:   '33',
					ob:    '330',
					sum:   '120'
				},
				{
					title: 'Шабаш',
					alc:   '1,2',
					cal:   '45',
					ob:    '330',
					sum:   '250',
				},
				{
					title: 'Вахтёр <sup>Новинка</sup>',
					alc:   '1',
					cal:   '35',
					ob:    '0,5',
					sum:   '150',
				},
				{
					title: 'Романтик <sup>Новинка</sup>',
					alc:   '0,5',
					cal:   '27',
					ob:    '0,5',
					sum:   '90',
				},
			]
