-
	var
			menu = [
				{title: 'История', url: '#'},
				{title: 'Производство', url: '#'},
				{title: 'Ассортимент', url: '#'},
				{title: 'Где купить', url: '#'},
			],
			catalog = [
				{
					title: 'Классика',
					alc:   '1,2',
					cal:   '33',
					ob:    '330',
					sum:   '120'
				},
				{
					title: 'Шабаш',
					alc:   '1,2',
					cal:   '45',
					ob:    '330',
					sum:   '250',
				},
				{
					title: 'Вахтёр <sup>Новинка</sup>',
					alc:   '1',
					cal:   '35',
					ob:    '0,5',
					sum:   '150',
				},
				{
					title: 'Романтик <sup>Новинка</sup>',
					alc:   '0,5',
					cal:   '27',
					ob:    '0,5',
					sum:   '90',
				},
			],
			new_items = [
				{
					title: 'Вахтёр',
					alc: '1',
					cal: '35',
					sostav: 'Ржаной хлеб, Вода, Солод, Соль',
					img: 'bottle-left.jpg',
					description: 'Терпкий и мощный, вкус этого кваса взбодрит после тяжёлого дня и придаст сил для вечерних приключений!',
					price: '150'
				},
				{
					title: 'Романтик',
					alc: '0,5',
					cal: '27',
					sostav: 'Ячменный хлеб, Вода, Солод, Апельсин',
					img: 'bottle-right.jpg',
					description: 'Лёгкий и освежающий напиток поможет сохранять отличное настроение в течение всего дня.',
					price: '90'
				}
			]
