extends templates/layout

block content
    header.header
        div.header__top
            a.logo: img( src="img/logo.png", alt="Кваст")
            +list(menu, 'menu')
        h1.header__promo: a(href="#") Крафтовый квас <br> всему голова!
    +section_new()

    +section_features()


    +section_history()

    section.press
        h2.section-title Пресса о нас
        blockquote.press-blck
            p Сегодня мы провели дегустацию чего-то действительно новенького — крафтового кваса. Да, да, вы не ослышались! Спасибо Арсену и Руслану за то, что предоставили целую бочку своего напитка!
            cite.review-author Газета столичный Стольник
        a.press-blck-button.btn(href="#") Читать далее
    section.assorti
        h2.section-title Ассортимент
        table.assorti-table
            thead
                tr
                    th Название
                    th Алк.
                    th Ккал
                    th Объём
                    th Стоимость
            tbody
                each item in catalog
                    + cat_item(item)
        +table('assorti-table', heads, catalog)
    section.order
        h2.section-title Заказать
        p.order-text Не ждите пока нас отрекламируют, как Вятский квас, и мы поднимем цены! Закажите настоящий крафтовый квас сейчас. При заказе от 10 баррелей — скидка 10%.
        div.order-forms
            form(action="#" method="POST")
                +form_el('fullname', 'Представьтесь:')
                +form_el('phone', 'Номер телефона:')
                +form_el('phone-2', 'Доп. номер:')
                +form_el('Email', 'Email:')
                div.order-form-group
                    label(for="size-order") Объём заказа:<br>
                    select(name="size-order" id="size-order")
                        option(value="1-5") От 1 до 5 баррелей в неделю
                        option(value="5-10" selected) От 5 до 10 баррелей в неделю
                        option(value="10-15") От 5 до 15 баррелей в неделю
                div.order-form-group
                    label(for="message") Доп. комментарий:
                    textarea(name="message" id="message")
                div.checkbox-area
                    label(for="send") Я согласен получать квасную рассылку
                    input(type="checkbox", id="send" name="subscription" checked)
                input.btn(type="submit" name="order-push" value="Отправить заказ")
    footer.footer
        div.footer-top
            a.footer-top__logo
                img(src="img/logo.png" alt="лого")
                div.footer-top__menu
                    +list(menu, '')
        div.footer-bottom
            div.footer-bottom__social
                a.footer-bottom__social--social-btn(href="https://instagram.com/htmlacademy") Инстаграм
                a.footer-bottom__social--social-btn(href="https://facebook.com/htmlacadem") Фейсбук
                a.footer-bottom__social--social-btn(href="https://vk.com/htmlacademy") Вконтакте
                p При перепечатке материалов ссылка на сайт обязательна!
            div.footer-bottom__copyright
                img(src="img/htmlacademy.png" alt="htmlacademy")
                b Разработчик:
                a(href="#") HTML Academy