extends templates/layout

block content
    +section_header()
    +section_new()
    +section_features()
    +section_history()
    +section_news()
    +section_range()
    +section_order()
    +footer()
