extends templates/layout

block content
  .ui-kit
    .container
      .row
        .icon.icon-emoji_emotions
        .icon.icon-star
        .icon.icon-star
        .icon.icon-star
        .icon.icon-star
        .icon.icon-star