extends templates/layout

block content
    header.page-header
        div.header-top
            a.header-top__logo: img( src="img/logo.png", alt="Кваст")
            ul.header-top__menu
                li: a(href="#История")
                li: a(href="#Производство")
                li: a(href="#Ассортимент")
                li: a(href="#Где купить")
            h1.promo: a(href="#") Крафтовый квас br всему голова!
    section.new
        h2.section-title Новинки
        div.new-item
            h3 Вахтёр
            div.new-item__ingridient
                Table
                    tr
                        td Алк
                        td &lt; 1%
                    tr
                        td Ккал
                        td 35
                p.new-item__ingridient__compound Ржаной хлеб, Вода, Солод, Соль
            img(src="img/bottle-left.jpg" alt="вахтер")
            p Терпкий и мощный, вкус этого кваса взбодрит после тяжёлого дня и придаст сил для вечерних приключений!/p
            div.new-item__button
                a.new-item__button--details.btn(href="#")  Подробнее
                a.new-item__button--buy.bt(href="#") Купить
                b.new-item__button--price 150 Р.
        div.new-item
            h3  Романтик
            div.new-item__ingridient
                Table
                    tr
                        td  Алк.
                        td &lt; 0,5%
                    tr
                        td Ккал
                        td 27
                p.new-item__ingridient__compound Ячменный хлеб, Вода, Солод, Апельсин
            img(src="img/bottle-right.jpg" alt="вахтер")
            p Лёгкий и освежающий напиток поможет сохранять отличное настроение в течение всего дня.
            div.new-item__button
                a.new-item__button--details.btn(href="#") Подробнее
                a.new-item__button--buy.btn(href="#") Купить
                b.new-item__button--price 90 Р.
    section.features
        ul.features-items
            li.features-item
                h2.feature-title Варим сами
                p Вот этими самыми руками. Экспериментируем и творим, что хотим.
            li.features-item
                h2.feature-title Своё, родное
                p Не заработка ради, а импортозамещения для. Поднимаем производство.
            li.features-item
                h2.feature-title Не экономим
                p Человек это то, что он ест и пьёт. У нас только качественные ингредиенты.
    section.history
        h2.section-title Немного истории
        dl.history-item
            dt.history-item__name Происхождение кваса
                i.history-item__source Источник:
                    a(href="https://ru.wikipedia.org" target="_blank ru.wikipedia.org")
            dd
                img(src="img/wiki-1.png" alt="Происхождение кваса")
                p Квас на Руси появился в X-XI веке. Само слово «квас» тоже имеет древнерусское происхождение. Помимо России квас готовят в Белоруссии, Сербии, Македонии, Словакии и многих других странах, но называется он везде одинаково — квас.
            dt.history-item__name Классификация кваса
                i.history-item__source Источник:
                    a(href="https://ru.wikipedia.org" target="_blankru.wikipedia.org")
            dd
                img(src="img/wiki-2.png" alt="Классификация кваса")
                p По российскому ГОСТу для промышленного изготовления — это напиток с объёмной долей этилового спирта не более 1,2%, изготовленный в результате незавершённого спиртового и молочнокислого брожения сусла.
    section.press
        h2.section-title Пресса о нас
        blockquote.press-blck
            p Сегодня мы провели дегустацию чего-то действительно новенького — крафтового кваса. Да, да, вы не ослышались! Спасибо Арсену и Руслану за то, что предоставили целую бочку своего напитка!
            cite.review-author Газета столичный Стольник
        a.press-blck-button.btn(href="#") Читать далее
    section.assorti
        h2.section-title Ассортимент
        table.assorti-table
            tr
                th Название
                th Алк.
                th Ккал
                th Объём
                th Стоимость
            tr
                td Классика
                td &lt; 1,2%
                td 33
                td 330 мл
                td 120 Р.
            tr
                td Шабаш
                td &gt; 1,2%
                td 45
                td 330 мл
                td 250 Р.
            tr
                td Вахтёр <sup>Новинка</sup>
                td &lt; 1%
                td 35
                td 0,5 л
                td 150 Р.
            tr
                td Романтик <sup>Новинка</sup>
                td  &lt; 0,5%
                td 27
                td 0,5 л
                td 90 Р.
    section.order
        h2.section-title Заказать
        p.order-text Не ждите пока нас отрекламируют, как Вятский квас, и мы поднимем цены! Закажите настоящий крафтовый квас сейчас. При заказе от 10 баррелей — скидка 10%.
        div.order-forms
            form(action="#" method="POST")
                div.order-form-group
                    label(for="fullname") Представьтесь:
                    input(type="text" name="fullname" id="fullname")
                div.order-form-group
                    label(for="phone") Номер телефона:
                    input(type="text" name="phone" id="phone")
                div.order-form-group
                    label(for="phone-2") Доп. номер:
                    input(type="text" name="phone-2" id="phone-2")
                div.order-form-group
                    label(for="Email") Email:
                    input(type="text" name="Email" id="Email")
                div.order-form-group
                    label(for="size-order") Объём заказа:<br>
                    select(name="size-order" id="size-order")
                        option(value="1-5") От 1 до 5 баррелей в неделю
                        option(value="5-10" selected) От 5 до 10 баррелей в неделю
                        option(value="10-15") От 5 до 15 баррелей в неделю
                div.order-form-group
                    label(for="message") Доп. комментарий:
                    textarea(name="message" id="message")
                div.checkbox-area
                    label(for="send") Я согласен получать квасную рассылку
                    input(type="checkbox", id="send" name="subscription" checked)
                input.btn(type="submit" name="order-push" value="Отправить заказ")
    footer.footer
        div.footer-top
            a.footer-top__logo
                img(src="img/logo.png" alt="лого")
                div.footer-top__menu
                    ul
                        li
                            a(href="#История")
                        li
                            a(href="#Производство")
                        li
                            a(href="#Ассортимент")
                        li
                            a(href="#Где купить")
        div.footer-bottom
            div.footer-bottom__social
                a.footer-bottom__social--social-btn(href="https://instagram.com/htmlacademy") Инстаграм
                a.footer-bottom__social--social-btn(href="https://facebook.com/htmlacadem") Фейсбук
                a.footer-bottom__social--social-btn(href="https://vk.com/htmlacademy") Вконтакте
                p При перепечатке материалов ссылка на сайт обязательна!
            div.footer-bottom__copyright
                img(src="img/htmlacademy.png" alt="htmlacademy")
                b Разработчик:
                a(href="#HTML Academy")