extends templates/layout

block content
    header.header
        div.header__top.clearfix.container--small
            a.logo: img( src="img/logo.png", alt="Кваст")
            +list(menu, 'menu clearfix')
        h1.header__promo: a(href="#") Крафтовый квас <br> всему голова!
    +section_new()
    +section_features()
    +section_history()
    +section_news()
    +section_range()
    +section_order()
    +footer()
