extends templates/layout

block content
  header.app__header
    h1.app__title.app__title--small
      span WELCOME TO
      span THE CAPTAIN MORGAN
    .app__logo
      span DRINKS
      span.app__logo--ml WORKS
  section.app__body
    +btn('#', 'UNSURE WHERE TO START?')
    +btn('/step2.html', 'DISCOVER TASTY RECIPES')
