extends templates/layout
block vars
block content
  .centered-container
    .loader
      .rocket
        i.fas.fa-rocket
        i.fas.fa-cloud(style="--i:0;")
        i.fas.fa-cloud(style="--i:1;")
        i.fas.fa-cloud(style="--i:2;")
        i.fas.fa-cloud(style="--i:3;")
      span: i