extends templates/layout

block content
  header.app__header
    a(href='/')
      h1.app__title
        span.app__title--ml DISCOVER
        span.app__title--big TASTY RECIPES
  section.app__body
    a.button(href='/step3.html'): .button__text YOU’RE ALL ABOUT CLASSIC COCKTAIL FLAVOURS, WITHOUT THE FUSS
    a.button(href='/step3-2.html'): .button__text SWEET AND TROPICAL FLAVOURS ARE UP YOUR STREET
    a.button(href='/step3-3.html'): .button__text YOU’RE ALWAYS LOOKING TO DISCOVER FRESH NEW FLAVOURS
    a.button(href='/step3-4.html'): .button__text YOU’RE A PURVEYOR OF PINEAPPLE ON YOUR PIZZA
