extends templates/layout

block content
  header.app__header
    a(href='/')
      h1.app__title
        span.app__title--ml DISCOVER
        span.app__title--big TASTY RECIPES
  section.app__body
    +btn('/step3.html', 'YOU’RE ALL ABOUT CLASSIC COCKTAIL FLAVOURS, WITHOUT THE FUSS')
    +btn('/step3-2.html', 'SWEET AND TROPICAL FLAVOURS ARE UP YOUR STREET')
    +btn('/step3-3.html', 'YOU’RE ALWAYS LOOKING TO DISCOVER FRESH NEW FLAVOURS')
    +btn('/step3-4.html', 'YOU’RE A PURVEYOR OF PINEAPPLE ON YOUR PIZZA')
