extends templates/layout

block content
  header.app__header
    a(href='/step2.html')
      h1.app__title
        span.app__title--ml YOU LIKE A CLASSIC?
        span.app__title--big WHY NOT MAKE A
        span.app__title--ml2 CAPTAIN MINT COOLER
        span.app__title--big2 OUR ANSWER TO A MOJITO
  section.app__body
    img.app__image(src='images/Easy Mojito.png')
    a.button(href='/step4.html'): .button__text EASY MOJITO/CAPTAIN MINT COOLER
