extends templates/layout

block content
  header.app__header
    a(href='/step2.html')
      h1.app__title
        span.app__title--ml LOVE TROPICAL FLAVOURS?
        span.app__title--big LOOK NO FURTHER,
        span.app__title--ml2 TRY A
        span.app__title--big2 CAPTAIN TIKI & LEMONADE!
  section.app__body
    ul.app__list
      li Choose a glass, any glass will do, …
      li Get some ice in that glass
      li Add nice to your ice with Captain Morgan Tiki
      li Choose your favourite Lemonade
      li Push the buttons on the door of tasty finishing touches and get some lemon, and hey… why not finishing with another crazy extra?
      li Share your spice with the tastiest selfie ever
      li Chill, enjoy and party!
    +btn('/', 'go to homepage')
