extends templates/layout

block content
  header.app__header
    a(href='/step2.html')
      h1.app__title
        span.app__title--ml LOVE TROPICAL FLAVOURS?
        span.app__title--big LOOK NO FURTHER,
        span.app__title--ml2 TRY A
        span.app__title--big2 CAPTAIN TIKI & LEMONADE!
  section.app__body
    img.app__image(src='images/Captain & Tiki.png')
    a.button(href='/step4-2.html'): .button__text CAPTAIN TIKI & LEMONADE
