extends templates/layout

block content
  header.app__header
    a(href='/step2.html')
      h1.app__title
        span.app__title--ml LOVE NEW THINGS?
        span.app__title--big WHAT ARE YOU WAITING FOR,
        span.app__title--ml2 TRY A CAPTAIN
        span.app__title--big2 SLICED APPLE & LEMONADE
  section.app__body
    img.app__image(src='images/Slice Apple and lemonade.png')
    a.button(href='/step4-3.html'): .button__text CAPTAIN SLICED APPLE & LEMONADE
