extends templates/layout

block vars
  - var page = 'tables'

block content
  .container
    each tableData, index in tables
      .mt-3
        +table(tableConfig, tableData, tablesParams[index])