extends templates/layout

block content
  .ui-kit
    .container
      .ui-kit__row
        .ui-kit__column
          each formItem in formConfig1
            +form_control(formItem)
        .ui-kit__column
          .form-control__label Checkbox Buttons
          .ui-kit__wrapper
            each formItem in checkboxes
              +form_control(formItem)

          .form-control__label radio Buttons
          .ui-kit__wrapper
            +inlineList(radioButtons, 20)

          .form-control__label toggle
          .ui-kit__wrapper
            each formItem in toggleButtons
              +form_control(formItem)

          .form-control__label like button
          .ui-kit__wrapper
            +inlineList(likeButtons, 10)
          .form-control__label rate button
          .ui-kit__wrapper
            +inlineList(rateButtons, 10)
        .ui-kit__column
          +form_control(rangeSliders[0])
          .form-control__label buttons
          .ui-kit__wrapper
            +button({ classes: ['btn--color'] }) click me
            +button({ type: 'submit', disabled: true, classes: ['btn--color'] }) click me
            +button({ classes: ['btn--border'] }) click me
            +button({ type: 'submit', disabled: true, classes: ['btn--border'] }) click me
            +button({ classes: ['btn--link'] }) click me
            +button({ classes: ['btn--color', 'btn--full', 'btn--arrow-right'] }) перейти к оплате
            +button({ type: 'submit', disabled: true, classes: ['btn--color', 'btn--full', 'btn--arrow-right'] }) перейти к оплате