extends templates/layout

block content
  .ui-kit
    .container
      .row
        .ui-kit__column
          each formItem in formConfig1
            +form_control(formItem)
        .ui-kit__column
          each formItem in formConfig2
            +form_control(formItem)
        .ui-kit__column
          each formItem in formConfig3
            +form_control(formItem)