@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
a {
  text-decoration: none;
}
.header {
  color: white;
  height: 640px;
  .bg("../img/wheat-back.jpg");
  background-size: cover;

  &__top {
    .clearfix();
    max-width: 900px;
    margin: 0 auto;
    .logo {
      float: left;
    }
    .menu {
      display: block;
      float: right;
      list-style: none;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5) ;
      &__item {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        a {
          text-decoration:  none;
          color: white;
          &:hover {
            color: #ffcc66;
            border-bottom: 1px solid white;
          }

          &:active {
            opacity: 0.7;
          }
        }
      }
    }
  }
  &__promo {
    display: block;
    text-align: center;
    a {
      color: white;
    }
  }
}

.features {
  display: block;

  &__list {
    display: block;
  }

  &__item {
    .title {
      font-size: 20px;
    }

    .text {
      font-size: 16px;
    }
  }
}

.history {
  &__title {

  }

  &__list {

  }
}

.history-item {
  &__name {

  }

  &__source {
    a {

    }
  }

  &__description {
    img {

    }
    .text {

    }
  }
}