@import "mixins";
@import "vars";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
a {
  text-decoration: none;
}
.body {
  .font_txt(); //почему не работает на body
  background-color: white;
}

.container {
  &--big {
    width: 1015px;
    margin: 0 auto;
  }
  &--small {
    width: 800px;
    margin: 0 auto;
  }
}

.section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 61px;
  font-weight: bold;
  color: @titleColor;
  text-transform: uppercase;
}

.header {
  color: white;
  min-height: 550px;
  .bg("../img/wheat-back.jpg");
  background-size: cover;
  padding: 0;
  padding-top: 35px;
  &__top {
    .clearfix();
    max-width: 900px;
    margin: 0 auto 125px auto;
    .logo {
      float: left;
      width: 140px;
      height: 80px;
    }
    .menu {
      display: block;
      float: right;
      width: 600px;
      text-transform: uppercase;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      margin-left: 60px;
      margin-top: 10px;
      padding-top: 25px;
      padding-bottom: 25px;
      &__item {
        //border-top: 1px solid rgba(255, 255, 255, 0.5);
        //border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        list-style: none;
        float: left;
        margin-right: 50px;
        &:last-child{margin-right: 0}
        a {
          text-decoration:  none;
          color: white;
          &:hover {
            color: #ffcc66;
            border-bottom: 1px solid white;
          }

          &:active {
            opacity: 0.7;
          }
        }
      }
    }
  }
  &__promo {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    a {
      color: white;
    }
  }
}

.new {
  padding-top: 95px;
  padding-bottom: 110px;
    &-items {
      margin-top: 110px;
    }
    &-item {
      float: left;
      width: 335px;
      padding: 0 30px 65px 30px;
      .img {
        width: 100%;
        height: auto;
      }
    }
    &-title {
      font-size: 40px;
      line-height: 61px;
      font-weight: bold;
      text-transform: uppercase;
      color: @titleColor;
      font-family: "Arial", sans-serif; // почему не работает в боди общее условие?
    }
}

.btn {
  display: inline-block;
  vertical-align: center;
  border: 2px solid @brnColor;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  .font_title(16px, 20px);
  margin-right: 5px;
  &--wht {
    color: @brnColor;
    &:hover {
      color: @brnDark;
      border-color: @brnDark;
    };
    &:active {opacity: 0.5};
  }
  &--brn {
    background-color: @brnColor;
    color: white;
    &:hover {
      background-color: @brnDark;
      color: #ffffff;
    }
    &:active {
      background-color: @brnDark;
      color: @whtTransp;
    };
  }
  &--gray {
    border-color: @colorGray;
    color: @colorGray;
    &:hover {
      color: @colorWhite;
      background-color: @colorGray
    };
    &:active {color: @whtTransp};
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
} // почему не работает в hover такое правило?

.features {
  display: block;
  padding-top: 80px;
  padding-bottom: 95px;
  background-color: @bgColorBrn;

  &__list {
    display: block;
    list-style: none;
    // margin: 0;
  }
}

.feature-item {
  border-left: 1px solid #cc9966;
  float: left;
  width: 200px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
  margin: 0;
  position: relative;
  &:first-child {
    border-left: 1px solid transparent;
  }
  &::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: red;
    opacity: 0.5;
    top: 0;
    left: 137px;
  }
  .title {
    .font_title(20px,30px);
    margin: 0;
    margin-bottom: 40px;
  }

  .text {
    .font_txt();
  }

  &--self {
    // background: .bg("../img/icon-brew.png", top left)} Почему не работает?
    background-image: url('../img/icon-brew.png');
    background-repeat: no-repeat;
    background-position: top left;
  }

  &--our {
    background-image: url('../img/icon-matreshka.png');
    background-repeat: no-repeat;
    background-position: top left;
  }

  &--expensive {
    background-image: url('../img/icon-thumbsup.png');
    background-repeat: no-repeat;
    background-position: top left;
  }
}

.history {
  padding-top: 90px;
  padding-bottom: 90px;
  .history-container {
    &:first-child {
      margin-bottom: 70px;
    }
    .pic {
        border-radius: 5px;
    }
  }
  &__list {
    width: 480px;
  }
}

.history-item {
  &__name {
    margin: 0;
    .font_title(20px, 30px);
  }

  &__source {
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
      a {
        color: @brnColor;
        &:hover {color: @brnDark;}
        &:active {color: rgba(102, 51, 0, 0.3);}
      }
  }

  &__description {
    img {

    }
    .text {

    }
  }
}

.news {
  background-color: @bgColorGray;
  padding-bottom: 90px;
  padding-top: 90px;
  &__block {
    padding: 0;
  }
  &__author {

  }
}

.range {
  padding-bottom: 90px;
  padding-top: 100px;
  &__table {
    line-height: 30px;
    border-collapse: collapse;
      th {
        font-size: 11px;
        text-transform: uppercase;
        color: @colorGray;
        font-weight: normal;
      }
      td {border: 1px solid @bgColorGray;}
  }
}

.order {
  background-color: @bgColorBrn;
  padding-top: 90px;
  padding-bottom: 110px;
  &__text {

  }
  &__form {
    width: 640px;
  }

  .form__group {
    &--checkbox {

    }
  }
}

.footer {
  padding: 60px 0 40px 0;
  margin: 0;
  background-color: black;
  color: @colorGray;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  &__top {margin-bottom: 50px}
  &__menu {
    border-top: solid 1px #333333;
    list-style: none;
    float: left;
    width: 600px;
    margin-right: 130px;
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          &:hover {
            color: #ffcc66;
            border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
          &:active {
            opacity: 0.7;
            }
        }
  }
  .menu__item {
    float: left;
    margin-right: 55px;
      &:last-child {
        margin-right: 0;
      }
  }
  &__logo {
    float: left;
    width: 135px;
    height: 75px;
  }
  &__bottom {

  }
  &__social {
    font-size: 14px;
      a {color: white}
    float: left;
    width: 510px;
  }
  .social-btn {

  }
  &__copyright {
    font-size: 14px;
      a {color: @colorGray}
    float: right;
    width: 305px;
  }
}
