@import 'vars';

.clearfix() {
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}

.bg(@img, @size: cover, @pos: center bottom, @repeat: no-repeat) {
  background-image: url(@img);
  background-size: @size;
  background-position: @pos;
  background-repeat: @repeat;
}

.center(@width, @height) {
  width: @width;
  height: @height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -(@height / 2);
  margin-left: -(@width / 2);
}

.font_title(@size: 20px, @line: 30px, @color: @titleColor) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: @size;
  line-height: @line;
  font-weight: bold;
  color: @color;
  text-transform: uppercase;
}

.font_txt(@size: 16px, @line: 30px) {
  font-size: @size;
  line-height: @line;
  font-family: "Arial", sans-serif;
  color: @colorTxt;
}

.menu_hover_act() {
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 0;
    &:hover {
      color: @bgColorBrn;
      border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    &:active {
      color: @bgColorBrn_30;
    ;
    }
  }
}