.clearfix() {
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }

}

.bg(@img, @size: cover, @repeat: no-repeat, @pos: center) {
  background-image: url(@img);
  background-repeat: @repeat;
  background-position: @pos;
  background-size: @size;
}