* {
  font: normal normal 16px/18px 'AvenirNextCyr', sans-serif ;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

input, textarea, button {
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

i, span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
