@import "mixins";

* {
  font: normal normal 16px/18px 'Montserrat', sans-serif ;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: @dark;
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

input, textarea, button {
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

i, span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: @padding;
  padding-right: @padding;
  position: relative;
  .clearfix();
}


.row {
  margin-left: -@padding;
  margin-right: -@padding;
  display: flex;
  flex-wrap: wrap;
  .media_mobile({
    margin-left: 0;
    margin-right: 0;
  });
}

