// colors
  @dark: #1F2041;
  @dark_75: rgba(@dark, 0.75);
  @dark_50: rgba(@dark, 0.5);
  @dark_25: rgba(@dark, 0.25);
  @dark_5: rgba(@dark, 0.05);
  @purple: #BC9CFF;
  @green: #6FCF97;
  @gradient: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  @gradient2: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
// images

// icons