@widthSmall: 800px;
@widthLarge: 1015px;
@btnColor: #ef0202;

@imgWiki: 'wiki-2.png';

@bgColorBrn: #ffcb78;
@bgColorBrn_30: rgba(255, 204, 102, 0.3);
@bgColorGray: #ede5d8;

@titleColor: #000000;

@colorGray: #999999;
@colorGrayPlus: rgba(204, 204, 204, 0.5);
@colorWhite: #ffffff;

@brnColor: #993300;
@brnDark: #663300;

@whtTransp: rgba(255, 255, 255, 0.5);

@colorTxt: #333333;
@colorForm: rgba(0, 0, 0, 0.1);
@colorFormHov: rgba(0, 0, 0, 0.15);

